<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
<footer>
    <div class="container">
        <p>Todos los derechos reservados</p>
    </div>
</footer>


</html>