<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link href="css/style.css" rel="stylesheet" type="text/css"></link>-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">


    <!-- AQUI - Incluimos el CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> --}}

    <!-- AQUI - Incluimos el JS de jQuery primero -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Segunda entrega</title>
</head>

<body>

    <header>
        <!--Navbar-->
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="./">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./crearCurso">Crear cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./listarCursos">Listar cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./inscripcion">Inscripcion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./inscritos">Ver inscritos</a>
                </li>
            </ul>
        </div>
    </header>