{{>header}}

<div class="container">
    <h2>Ver como administrador</h2>
    {{{listarCursos}}}

    <h2>Ver como interesado</h2>

    <div class="accordion" id="accordionExample">
        {{{cursosInteresados}}}
        {{{obtenerCursosCallapsedEliminar}}}
    </div>

</div>